<div class="card">
  <%= render partial: "shared/userCard", locals: { user: @user } %>
</div>

<div class="bio">
  <div class="bio_title">Bio</div>
  <p class="bio_data"><%= @user.bio  %></p>
</div>

<% @count=0 %>
<div class="posts">
  <% @user.recent_three_posts.each do |post| %>
    <div class="post">
      <div class="post_count">Post #<%=@count+=1%></div>
      <%= render partial: "shared/postCard", locals: { post: post } %>
      <%= render partial: "shared/like", locals: {user: @user, post: post}%>
    </div>
  <% end %>
</div>

<div class="post_button">
  <button>
    <%= link_to "See all posts", user_posts_path(@user) %>
  </button>
  <button>
    <%= link_to "Add a post", new_user_post_path(@user) %>
  </button>
</div>