<% user = @posts.first.user %>

<div class="card">
  <%= render partial: "shared/userCard", locals: { user: user } %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <%= render partial: "shared/postCard", locals: { post: post } %>
    <button class="user_btn">
      <%= link_to "Access", user_post_path(user, post) %>
    </button>
    <%= render partial: "shared/like", locals: {user: user, post: post}%>  
  </div>
  
  <div class="comments">
    <% post.recent_five_comments.each do |comment|%>
      <%= render partial: "shared/postComment", locals: { users: @users, comment: comment} %>
    <% end %>
  </div>
<% end %>
