<h1>Posts</h1>
<% @posts.each do |post| %>
  <div><%= post.title %></div>
  <div><%= post.text %></div>
  <div>Comments: <%= post.comments_counter %></div>
  <div>Likes: <%= post.likes_counter %></div>
  <ul>Comments
    <% data = @comments.where(post_id: post.id ) %>
    <% data.each do |comment| %>
      <% name = @users.where(id: comment.author_id ) %>
      <div><%= name.first.name %>: </div>
      <div><%= comment.text %></div>
    <% end %>
  </ul>
  <br />
<% end %>
