<% user = @posts.first.user %>

<div class="card">
  <%= render partial: "shared/userCard", locals: { user: user } %>
</div>

<% @posts.each do |post| %>
  <div class="post">
    <%= render partial: "shared/postCard", locals: { post: post } %>
    <button class="user_btn">
      <%= link_to "Access", user_post_path(user, post) %>
    </button>
    <%= button_to "Delete", user_post_path(user, post), method: :delete %>
    <%= render partial: "shared/like", locals: {user: user, post: post}%>  
  </div>

  <div class="comments">
    <% @comment.where(post_id: post.id).limit(5).each do |comment| %>
      <%= render partial: "shared/postComment", locals: { comment: comment} %>
    <% end %>  
  </div>
<% end %>
