<% name = @users.where(id: @post.author_id ) %>
<div class="post_data">
  <div class="post_data_top">
    <div class="post_data_by">Post by: <%= name.first.name %></div>
    <div class="post_media">
      <div class="post_comments">Comments: <%= @post.comments_counter  %></div>
      <div class="post_likes">Likes: <%= @post.likes_counter  %></div>
    </div>
  </div>
  <div class="post_data_title"><%= @post.title  %></div>
  <div class="post_data_text"><%= @post.text  %></div>
</div>

<div class="comments">
  <% data = @comments.where(post_id: @post.id ) %>
  <% data.each do |comment| %>
    <%= render partial: "shared/postComment", locals: { users: @users, comment: comment} %>
  <% end %>
</div>
