<h1>Post_ID</h1>
<% name = @users.where(id: @post.author_id ) %>
<div>Post by: <%= name.first.name %></div>
<div>title:<%= @post.title  %></div>
<div>text: <%= @post.text  %></div>
<div>Comments: <%= @post.comments_counter  %></div>
<div>Likes: <%= @post.likes_counter  %></div>
<br />

<ul>Comments
  <% data = @comments.where(post_id: @post.id ) %>
  <% data.each do |comment| %>
    <% name = @users.where(id: comment.author_id ) %>
    <div><%= name.first.name %>: </div>
    <div><%= comment.text %></div>
  <% end %>
</ul>
