<div class="post_data">
  <div class="post_data_top">
    <div class="post_data_by">Post by: <%= @post.user.name %></div>
    <div class="post_media">
      <div class="post_comments">Comments: <%= @post.comments_counter  %></div>
      <div class="post_likes">Likes: <%= @post.likes_counter  %></div>
    </div>
  </div>
  <div class="post_data_title"><%= @post.title  %></div>
  <div class="post_data_text"><%= @post.text  %></div>
</div>

<div class="comments">
  <% @post.comments.each do |comment| %>
    <%= render partial: "shared/postComment", locals: { comment: comment} %>
  <% end %>
  <button class=btn_comment>
    <%= link_to "Add comment", new_user_post_comment_path(@post.user.id, @post.id) %>
  </button>
</div>
